@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=Inter:wght@300;400;500&display=swap');

.main-containerDetail {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 60px;
  display: flex;
  justify-content: center;
}
